.log img{
    width: 140px;
    height: 100px;
    border-radius: 20%;
}

.log{
    font-size: 40px;
}


.navv{
    font-size: 20px;
    margin-bottom: 20px;
    background-color: rgb(110, 190, 190);
    font-family: 'IBM Plex Sans', sans-serif;
    display: block;
   
}
.navv img{
    margin-left: 2%;
   
    
}
.navv a{
    text-decoration:none;
    color:rgb(1, 53, 53)

}

.left{
    float: right;
    padding: 10px;
}

/*----------------JS--------------------*/

.massage {
    background: rgb(111, 192, 104);
    padding: 0 20px;
    margin:  10px 0;
    color: rgb(57, 95, 52);
    height: 50px;
    
}
.massage button {
    float: right;
    
}

.massage p {
    font-size: 30px;
    display: inline;
    font-family: 'IBM Plex Sans', sans-serif;
    
}